<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-5 col-xl-4">
      <div class="sticky-menu">
        <%= render partial: "public/users/aside" %>
      </div>
    </div>
    <div class="col-12 col-md-10 col-lg-7 col-xl-6">
      <% if @posts.present? %>
        <%= render partial: "public/posts/summary", collection: @posts, as: "post" %>
      <% else %>
        <p class="h4 text-wbr text-center mb-4">ユーザーをフォローすると<wbr>投稿が表示されます</p>
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 mb-4">
            <%= link_to users_path, class: "btn btn-lg btn-block btn-outline-secondary btn-bg-white rounded-pill" do %>
              ユーザーを探す
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>