<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9 col-xl-8">
      <div class="card">
        <div class="card-header">
          <h1 class="h4 m-0">新規投稿</h1>
        </div>
        <div class="card-body">
          <%= render "public/posts/form", post: @new_post %>
        </div>
      </div>
    </div>
  </div>
</div>
