<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mb-4">
      <div class="jumbotron bg-white">
        <h1 class="display-4">About Kanrin.</h1>
        <p class="lead">description</p>
      </div>
    </div>
  </div>
</div>
