<p class="text-copy">外に求めない創作系SNS</p>
<div class="top mb-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <h1 class="main-title" aria-label="閑林-KanRin-">
          <div class="main-title__logo" aria-hidden="true"></div>
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <aside class="row mt-3">
        <div class="col-12 col-md-6 d-flex mb-3">
          <div class="top-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="#fff" d="M88 0C74.7 0 64 10.7 64 24c0 38.9 23.4 59.4 39.1 73.1l1.1 1C120.5 112.3 128 119.9 128 136c0 13.3 10.7 24 24 24s24-10.7 24-24c0-38.9-23.4-59.4-39.1-73.1l-1.1-1C119.5 47.7 112 40.1 112 24c0-13.3-10.7-24-24-24zM32 192c-17.7 0-32 14.3-32 32V416c0 53 43 96 96 96H288c53 0 96-43 96-96h16c61.9 0 112-50.1 112-112s-50.1-112-112-112H352 32zm352 64h16c26.5 0 48 21.5 48 48s-21.5 48-48 48H384V256zM224 24c0-13.3-10.7-24-24-24s-24 10.7-24 24c0 38.9 23.4 59.4 39.1 73.1l1.1 1C232.5 112.3 240 119.9 240 136c0 13.3 10.7 24 24 24s24-10.7 24-24c0-38.9-23.4-59.4-39.1-73.1l-1.1-1C231.5 47.7 224 40.1 224 24z"/>
            </svg>
          </div>
          <div>
            <div><strong>競争を生まない創作空間</strong></div>
            <div><small>トレンドや評価といった数値的指標はありません。自身の創作活動に集中できます。</small></div>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex mb-3">
          <div class="top-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
              <path fill="#fff" d="M128 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm32 97.3c28.3-12.3 48-40.5 48-73.3c0-44.2-35.8-80-80-80S48 51.8 48 96c0 32.8 19.7 61 48 73.3V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H288v54.7c-28.3 12.3-48 40.5-48 73.3c0 44.2 35.8 80 80 80s80-35.8 80-80c0-32.8-19.7-61-48-73.3V288H608c17.7 0 32-14.3 32-32s-14.3-32-32-32H544V169.3c28.3-12.3 48-40.5 48-73.3c0-44.2-35.8-80-80-80s-80 35.8-80 80c0 32.8 19.7 61 48 73.3V224H160V169.3zM488 96a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM320 392a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/>
            </svg>
          </div>
          <div>
            <div><strong>プロジェクトで進捗を管理</strong></div>
            <div><small>創作活動の過程を記録することで、自分のがんばりを可視化することができます。</small></div>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex mb-3">
          <div class="top-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="#fff" d="M128 32h32c17.7 0 32 14.3 32 32V96H96V64c0-17.7 14.3-32 32-32zm64 96V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V388.9c0-34.6 9.4-68.6 27.2-98.3C40.9 267.8 49.7 242.4 53 216L60.5 156c2-16 15.6-28 31.8-28H192zm227.8 0c16.1 0 29.8 12 31.8 28L459 216c3.3 26.4 12.1 51.8 25.8 74.6c17.8 29.7 27.2 63.7 27.2 98.3V448c0 17.7-14.3 32-32 32H352c-17.7 0-32-14.3-32-32V128h99.8zM320 64c0-17.7 14.3-32 32-32h32c17.7 0 32 14.3 32 32V96H320V64zm-32 64V288H224V128h64z"/>
            </svg>
          </div>
          <div>
            <div><strong>気になるプロジェクトをチェック</strong></div>
            <div><small>タグやフォロー・ブックマーク機能を使って、他のユーザーの進捗を覗けます。</small></div>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex mb-3">
          <div class="top-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="#fff" d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0zm0 66.8V444.8C394 378 431.1 230.1 432 141.4L256 66.8l0 0z"/>
            </svg>
          </div>
          <div>
            <div><strong>セーフサーチによるチェック</strong></div>
            <div><small>画像の投稿時にAPIを用いて不適切な画像を検知。安全な交流を楽しめます。</small></div>
          </div>
        </div>
      </aside>
      <% unless user_signed_in? %>
        <div class="row mt-3">
          <div class="col-12">
            <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success btn-bg-white rounded-pill" %>
          </div>
          <div class="col-12 col-sm-6 mt-3">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-block btn-outline-secondary btn-bg-white rounded-pill" %>
          </div>
          <div class="col-12 col-sm-6 mt-3">
            <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "btn btn-block btn-outline-primary btn-bg-white rounded-pill" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
