<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mb-4">
      <div class="jumbotron bg-white">
        <h1 class="display-4">Welcome to Kanrin.</h1>
        <p class="lead">description</p>
        <% unless user_signed_in? %>
        <hr class="my-4">
          <div class="row">
            <div class="col-6">
              <%= link_to new_user_session_path, class: "btn btn-block btn-info rounded-pill" do %>
                Log in
              <% end %>
            </div>
            <div class="col-6">
              <%= link_to new_user_registration_path, class: "btn btn-block btn-success rounded-pill" do %>
                Sign up
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>