<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      <%= render "layouts/index_search" %>
      <div class="h4">
        <%= render partial: "public/tags/tag", collection: @tags, as: "tag" %>
      </div>
    </div>
  </div>
</div>