:root {
  --font-family-sans-serif: "Arial", 'BIZ UDGothic', "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
  --font-family-serif: "Times New Roman", "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", serif;
  --font-family-heading: "Headland One", serif;

  --color-gold: #a28557;
  --color-secondary: #6C757D;
  --color-danger: #dc3545;
  --color-dark: #454d55;
  --color-text: #192323;
  --color-bg: #f3f2ee;
}
/* box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* body */
body {
  position: relative;
  font-family: var(--font-family-sans-serif);
  color: var(--color-text);
  background-color: var(--color-bg);
  background-image: url("../images/kinda-jean.png");
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main{
  flex: 1;
}
