<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9 col-xl-8">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-baseline">
          <h1 class="h4 m-0">新規プロジェクト作成</h1>
          <p class="m-0"><small><span class="text-required">*</span>は必須項目です</small></p>
        </div>
        <div class="card-body">
          <%= render "public/projects/form", project: @new_project, tags: nil %>
        </div>
      </div>
    </div>
  </div>
</div>
