<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      <%= render "public/users/header", user: @user %>
      <% unless @projects.present? %>
        <p class="h4 text-wbr text-center mb-4">まだプロジェクトが<wbr>作成されていません</p>
      <% end %>
      <% if @user == current_user %>
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 mb-4">
            <%= link_to "新規プロジェクト作成", new_project_path, class: "btn btn-lg btn-block btn-outline-success btn-bg-white rounded-pill" %>
          </div>
        </div>
      <% end %>
      <% if @projects.present? %>
        <div class="row">
          <%= render partial: "public/projects/summary", collection: @projects, as: "project" %>
        </div>
      <% end %>
      <%= paginate @projects %>
    </div>
  </div>
</div>