        <li class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            通知
            <span class="badge badge-danger"><%= current_user.notifications.unread.count %></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if current_user.notifications.unread.any? %>
              <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
              <%= render partial: "public/notifications/summary", collection: current_user.notifications.unread.limit(5).desc, as: "notification" %>
            <% else %>
              <span class="dropdown-item disabled">未読の通知はありません</span>
            <% end %>
          </div>
        </li>